.ronedex .collection li.collection-item {
  list-style: none;
}

.ronedex .poke-detail .card-image {
  padding: 24px;
}

.ronedex .poke-detail dl span.badge {
  float: none;
  margin: 0 7px;
}

.ronedex dt::after {
  content: ": ";
}

.ronedex .poke-detail dt:before {
  content: "";
  display: block;
}
.ronedex .poke-detail dt,
dd {
  display: inline;
}

.ronedex .poke-detail img {
  width: 150px;
}

.ronedex .poke-item {
  margin: 15px 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ronedex .poke-item .sprite {
  min-width: 48px;
}

.ronedex .poke-item .sprite img {
  margin: auto;
}